.main-container {
    display: flex;
    gap: 20px; 

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
  }
  
  app-vehicle-list {
    flex: 3; 
  }
  
  app-cart {
    flex: 1; 
  }